@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

.leaflet-container {
  width: 100%;
  height: 100%;
}
